@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.card-gradient-border {
  border: 1.0px solid transparent;
  border-radius: 12px;
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-image: 
    linear-gradient(#1c1c1c, #1c1c1c), 
    linear-gradient(
      to right, 
      rgba(255, 255, 255, 0.3), 
      rgba(255, 255, 255, 0.1), 
      rgba(255, 255, 255, 0.2), 
      rgba(255, 255, 255, 0.2)
    );
}

.card-gradient-border-rounded {
  border: 1.0px solid transparent;
  border-radius: 9999px;
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-image: 
    linear-gradient(#1c1c1c, #1c1c1c), 
    linear-gradient(
      to right, 
      rgba(255, 255, 255, 0.3), 
      rgba(255, 255, 255, 0.1), 
      rgba(255, 255, 255, 0.2), 
      rgba(255, 255, 255, 0.2)
    );
}

.glass-radial {
  position: relative;
  overflow: hidden;
  border-radius: 0.75rem; /* same as rounded-xl */
}

.glass-radial::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 0;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background: radial-gradient(
    circle at center,
    rgb(162, 11, 11) 50%,
    rgba(255, 255, 255, 1) 100%
  );
}